paletteColor1 = #656360
paletteColor2 = #cb5432
paletteColor3 = #2d2d2d
paletteColor4 = #444444
paletteColor5 = #dcd2be
paletteColor6 = #f8f5f2
paletteColor7 = #f1f1f1
paletteColor8 = #444
paletteColor9 = #e6e6e6
paletteColor10 = #fff
paletteColor11 = #fcb019
paletteColor12 = #888

body
  color: paletteColor1
  /*background: #f1ede8 url(../img/noise-all.png)*/

body a:hover
  color: paletteColor2

a
  color: paletteColor2

header,
footer
  background: paletteColor3

::selection
  background: paletteColor2

::-moz-selection
  background: paletteColor2

img::selection
  background: paletteColor2

img::-moz-selection
  background: paletteColor2

body
  -webkit-tap-highlight-color: paletteColor2

#headline,
.masthead
  color: paletteColor4

#nav > li > a
  color: paletteColor5

#nav > li:hover > a
  -webkit-transition: all 0.3s ease
  -moz-transition: all 0.3s ease
  -o-transition: all 0.3s ease
  transition: all 0.3s ease
  border-top: 3px solid paletteColor2

#nav span:hover
  -webkit-transform: translate(-10px, -3px)
  -moz-transform: translate(-10px, -3px)
  -o-transform: translate(-10px, -3px)
  transform: translate(-10px, -3px)

#nav > li.current-menu-item > a,
#nav > li.current_page_item > a
  border-top: 3px solid paletteColor2

#nav .sfHover ul
  background: paletteColor6

#nav .sfHover ul li a
  color: paletteColor4

#nav .sfHover ul li a:hover
  background: rgba(0, 0, 0, 0.8)
  color: paletteColor2

.multiplebgs #main
  background-image: url(../img/main-bg.png), url(../img/main-bg.png)
  background-repeat: repeat-x, repeat-x
  background-position: bottom left, top left

.no-multiplebgs #main
  background: paletteColor7 url(../img/main-bg.png) repeat-x top left

#filter-buttons li a
  color: paletteColor8
  border-bottom: 2px solid transparent

#filter-buttons li a:hover,
#filter-buttons li a.selected
  border-bottom: 2px solid paletteColor8

#filter-container figure
  background: paletteColor6

#filter-container figure .thumb
  background: paletteColor2 url(../img/icon-link.png) center center no-repeat

#filter-container figure figcaption .heading
  color: paletteColor4

#filter-container figure figcaption .heading:hover
  color: paletteColor2

#filter-container figure .readmore
  color: paletteColor4

#filter-container figure .readmore:hover h5
  color: paletteColor2

#portfolio-content #filter-container a
  color: paletteColor12

#portfolio-content #filter-container a:hover
  color: paletteColor2

#portfolio-content .project-pager a
  color: paletteColor4

#portfolio-content .project-pager a:hover
  color: paletteColor2

#portfolio-content #project-box
  background: paletteColor6

#portfolio-content #project-box .info .launch:hover
  color: paletteColor7
  background: paletteColor2

.related-projects figure .heading
  color: paletteColor4

.related-projects figure .heading:hover
  color: paletteColor2

.related-projects figure .thumb
  background: paletteColor2 url(../img/icon-link.png) no-repeat center center

#map-holder
  background: paletteColor6

#posts-list article .box
  background: paletteColor6 url(../img/meta-bg.png) repeat-y top right

#posts-list article .box .entry-date
  color: paletteColor5
  background: paletteColor3

#posts-list article .box .excerpt .post-heading
  color: paletteColor4

#posts-list article .box .excerpt .post-heading:hover
  color: paletteColor2

#posts-list article .box .excerpt .learnmore
  background: paletteColor3
  color: paletteColor6

#posts-list article .box .excerpt .learnmore:hover
  background: paletteColor2

#posts-list article .box .meta a
  color: paletteColor1

#posts-list article .box .meta a:hover
  color: paletteColor2

#posts-list article.format-standard .feature-image
  background: paletteColor2 url(../img/icon-link.png) no-repeat center center

#posts-list article.format-image .feature-image
  background: paletteColor2 url(../img/icon-popup.png) no-repeat center center

body.single #posts-list article
  background: paletteColor6

body.single #posts-list .box .meta
  background: paletteColor6 url(../img/meta-bg-vertical.png) repeat-x top right

#main .page-navigation a
  color: paletteColor4

#main .page-navigation a:hover
  color: paletteColor2

#sidebar .cat-item a .post-counter,
#sidebar .page_item a .post-counter
  color: paletteColor1

.lof-slidecontent .slider-description
  color: paletteColor9

.lof-slidecontent .slider-description a
  color: paletteColor10

.lof-slidecontent .slider-description a.readmore
  color: paletteColor11

.lof-slidecontent .active
  border-top: 3px paletteColor2 solid

footer
  color: paletteColor5

footer h4
  color: paletteColor10

footer a
  color: paletteColor2

footer a:hover
  color: paletteColor10

