!!! 5
html.no-js
head
  meta(charset='utf-8')
    title FOLDER TEMPLATE
    //if lt IE 9
      script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
    link(rel='stylesheet', media='all', href='css/style.css')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    //
       Adding "maximum-scale=1" fixes the Mobile Safari auto-zoom bug: http://filamentgroup.com/examples/iosScaleBug/ 
    //
       JS 
    script(src='js/jquery-1.7.1.min.js')
    script(src='js/custom.js')
    script(src='js/tabs.js')
    script(src='js/css3-mediaqueries.js')
    script(src='js/jquery.columnizer.min.js')
    //
       Isotope 
    script(src='js/jquery.isotope.min.js')
    //
       Lof slider 
    script(src='js/jquery.easing.js')
    script(src='js/lof-slider.js')
    link(rel='stylesheet', href='css/lof-slider.css', media='all')
    //
       ENDS slider 
    //
       Tweet 
    link(rel='stylesheet', href='css/jquery.tweet.css', media='all')
    script(src='js/tweet/jquery.tweet.js')
    //
       ENDS Tweet 
    //
       superfish 
    link(rel='stylesheet', media='screen', href='css/superfish.css')
    script(src='js/superfish-1.4.8/js/hoverIntent.js')
    script(src='js/superfish-1.4.8/js/superfish.js')
    script(src='js/superfish-1.4.8/js/supersubs.js')
    //
       ENDS superfish 
    //
       prettyPhoto 
    script(src='js/prettyPhoto/js/jquery.prettyPhoto.js')
    link(rel='stylesheet', href='js/prettyPhoto/css/prettyPhoto.css', media='screen')
    //
       ENDS prettyPhoto 
    //
       poshytip 
    link(rel='stylesheet', href='js/poshytip-1.1/src/tip-twitter/tip-twitter.css')
    link(rel='stylesheet', href='js/poshytip-1.1/src/tip-yellowsimple/tip-yellowsimple.css')
    script(src='js/poshytip-1.1/src/jquery.poshytip.min.js')
    //
       ENDS poshytip 
    //
       JCarousel 
    script(type='text/javascript', src='js/jquery.jcarousel.min.js')
    link(rel='stylesheet', media='screen', href='css/carousel.css')
    //
       ENDS JCarousel 
    //
       GOOGLE FONTS 
    link(href='http://fonts.googleapis.com/css?family=Voltaire', rel='stylesheet', type='text/css')
    //
       modernizr 
    script(src='js/modernizr.js')
    //
       SKIN 
    link(rel='stylesheet', media='all', href='css/skin.css')
    //
       Less framework 
    link(rel='stylesheet', media='all', href='css/lessframework.css')
    //
       jplayer 
    link(href='player-skin/jplayer-black-and-yellow.css', rel='stylesheet', type='text/css')
    script(type='text/javascript', src='js/jquery.jplayer.min.js')
    //
       flexslider 
    link(rel='stylesheet', href='css/flexslider.css')
    script(src='js/jquery.flexslider.js')
  body.blog
    //
       HEADER 
    header
      .wrapper.cf
        #logo
          a(href='index.html')
            img(src='img/logo.png', alt='Simpler')
        //
           nav 
        ul#nav.sf-menu
          li
            a(href='index.html')
              span HOME
          li.current-menu-item
            a(href='blog.html') BLOG
          li
            a(href='page.html') ABOUT
            ul
              li
                a(href='page-elements.html') Elements
              li
                a(href='page-icons.html') Icons
              li
                a(href='page-typography.html') Typography
          li
            a(href='portfolio.html') WORK
          li
            a(href='contact.html') CONTACT
        #combo-holder
        //
           ends nav 
    //
       ENDS HEADER 
    //
       MAIN 
    #main
      .wrapper.cf
        //
           posts list 
        #posts-list.cf
          //
             Audio 
          article.format-audio
            .box.cf
              .entry-date
                .number 23
                .month JAN
              .excerpt
                a.post-heading(href='single.html') Miaow Track
                //
                   jplayer 
                script(type='text/javascript')
                  //<![CDATA[
                  $(document).ready(function(){
                  $("#jquery_jplayer_1").jPlayer({
                  ready: function () {
                  $(this).jPlayer("setMedia", {
                  m4a: "http://www.jplayer.org/audio/m4a/Miaow-07-Bubble.m4a",
                  oga: "http://www.jplayer.org/audio/ogg/Miaow-07-Bubble.ogg"
                  }).jPlayer("stop");
                  },
                  ended: function (event) {
                  $(this).jPlayer("play");
                  },
                  swfPath: "js",
                  supplied: "m4a, oga"
                  });
                  });
                  //]]>
                #jquery_jplayer_1.jp-jplayer
                .jp-audio-container
                  .jp-audio
                    .jp-type-single
                      #jp_interface_1.jp-interface
                        ul.jp-controls
                          li
                            a.jp-play(href='#', tabindex='1') play
                          li
                            a.jp-pause(href='#', tabindex='1') pause
                          li
                            a.jp-mute(href='#', tabindex='1') mute
                          li
                            a.jp-unmute(href='#', tabindex='1') unmute
                        .jp-progress-container
                          .jp-progress
                            .jp-seek-bar
                              .jp-play-bar
                        .jp-volume-bar-container
                          .jp-volume-bar
                            .jp-volume-bar-value
                //
                   ENDS jplayer 
              .meta
                span.format Audio
                span.user
                  a(href='#') By LuisZuno, 
                span.comments 16 comments
                span.tags
                  a(href='#') red
                  | ,
                  a(href='#') cyan
                  | ,
                  a(href='#') white
                  | ,
                  a(href='#') blue
          //
             ENDS Audio 
          //
             Video 
          article.format-video
            .video-container
              iframe(src='http://www.youtube.com/embed/YE7VzlLtp-4')
            .box.cf
              .entry-date
                .number 23
                .month JAN
              .excerpt
                a.post-heading(href='single.html') YOUTUBE
                p
                  | Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae.
              .meta
                span.format Video
                span.user
                  a(href='#') By LuisZuno, 
                span.comments 16 comments
                span.tags
                  a(href='#') red
                  | ,
                  a(href='#') cyan
                  | ,
                  a(href='#') white
                  | ,
                  a(href='#') blue
          //
             ENDS Video 
          //
             Link 
          article.format-link
            .box.cf
              .entry-date
                .number 23
                .month JAN
              .excerpt
                a.post-heading(href='http://luiszuno.com') This is a link example
              .meta
                span.format Link
                span.user
                  a(href='#') By LuisZuno, 
                span.comments 16 comments
                span.tags
                  a(href='#') red
                  | ,
                  a(href='#') cyan
                  | ,
                  a(href='#') white
                  | ,
                  a(href='#') blue
          //
             ENDS Link 
          //
             Quote 
          article.format-quote
            .box.cf
              .entry-date
                .number 23
                .month JAN
              .excerpt
                a.post-heading(href='single.html')
                  | Death doesn't really worry me that much, I'm not frightened about it... I just don't want to be there when it happens
                p
                  span.q-author -Woody Allen
              .meta
                span.format Quote
                span.user
                  a(href='#') By LuisZuno, 
                span.comments 16 comments
                span.tags
                  a(href='#') red
                  | ,
                  a(href='#') cyan
                  | ,
                  a(href='#') white
                  | ,
                  a(href='#') blue
          //
             ENDS Quote 
          //
             Standard 
          article.format-standard
            .feature-image
              a(href='single.html')
                img(src='img/dummies/slides/01.jpg', alt='Alt text')
            .box.cf
              .entry-date
                .number 23
                .month JAN
              .excerpt
                a.post-heading(href='single.html') LOREM IPSUM DOLOR AMET
                p
                  | Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed.
                p
                  a.learnmore(href='single.html') Learn More
              .meta
                span.format Post
                span.user
                  a(href='#') By LuisZuno, 
                span.comments 16 comments
                span.tags
                  a(href='#') red
                  | ,
                  a(href='#') cyan
                  | ,
                  a(href='#') white
                  | ,
                  a(href='#') blue
          //
             ENDS  Standard 
          //
             Image 
          article.format-image
            .feature-image
              a(href='img/dummies/slides/01.jpg', data-rel='prettyPhoto')
                img(src='img/dummies/slides/04.jpg', alt='Alt text')
            .box.cf
              .entry-date
                .number 23
                .month JAN
              .excerpt
                a.post-heading(href='single.html') AN IMAGE
                p
                  | Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae.
              .meta
                span.format Image
                span.user
                  a(href='#') By LuisZuno, 
                span.comments 16 comments
                span.tags
                  a(href='#') red
                  | ,
                  a(href='#') cyan
                  | ,
                  a(href='#') white
                  | ,
                  a(href='#') blue
          //
             ENDS Image 
          //
             page-navigation 
          .page-navigation.cf
            .nav-next
              a(href='#') ← Older Entries 
            .nav-previous
              a(href='#') Newer Entries →
          //
            ENDS page-navigation 
        //
           ENDS posts list 
        //
           sidebar 
        aside#sidebar
          ul
            li.block
              h4 Text Widget
              | Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi.
            li.block
              h4 Categories
              ul
                li.cat-item
                  a(href='#', title='title')
                    | Film and video
                    span.post-counter  (2)
                li.cat-item
                  a(href='#', title='title')
                    | Print
                    span.post-counter  (2)
                li.cat-item
                  a(href='#', title='title')
                    | Photo and lomo
                    span.post-counter  (2)
                li.cat-item
                  a(href='#', title='title')
                    | Habitant morbi
                    span.post-counter  (2)
                li.cat-item
                  a(href='#', title='title')
                    | Film and video
                    span.post-counter  (2)
                li.cat-item
                  a(href='#', title='title')
                    | Print
                    span.post-counter  (2)
                li.cat-item
                  a(href='#', title='title')
                    | Photo and lomo
                    span.post-counter  (2)
                li.cat-item
                  a(href='#', title='title')
                    | Habitant morbi
                    span.post-counter  (2)
            li.block
              h4 Archives
              ul
                li.cat-item
                  a(href='#', title='title') January
                li.cat-item
                  a(href='#', title='title') February
                li.cat-item
                  a(href='#', title='title') March
        //
           ENDS sidebar 
      //
         ENDS WRAPPER 
    //
       ENDS MAIN 
    //
       FOOTER 
    footer
      .wrapper.cf
        //
           widgets 
        ul.widget-cols.cf
          li.first-col
            .widget-block
              h4 RECENT POSTS
              .recent-post.cf
                a.thumb(href='#')
                  img(src='img/dummies/54x54.gif', alt='Post')
                .post-head
                  a(href='#') Pellentesque habitant morbi senectus
                  span  March 12, 2011
              .recent-post.cf
                a.thumb(href='#')
                  img(src='img/dummies/54x54.gif', alt='Post')
                .post-head
                  a(href='#') Pellentesque habitant morbi senectus
                  span  March 12, 2011
              .recent-post.cf
                a.thumb(href='#')
                  img(src='img/dummies/54x54.gif', alt='Post')
                .post-head
                  a(href='#') Pellentesque habitant morbi senectus
                  span  March 12, 2011
          li.second-col
            .widget-block
              h4 ABOUT
              p
                | Folder it's completely free this means you don't have to pay anything
                a(href='http://luiszuno.com/blog/license', tar='tar') read license
                | .
              p
                | Visit
                a(href='http://templatecreme.com/') Template Creme
                | and find the most beautiful free templates up to date.
          li.third-col
            .widget-block
              #tweets.footer-col.tweet
                h4 TWITTER WIDGET
          li.fourth-col
            .widget-block
              h4 CATEGORIES
              ul
                li.cat-item
                  a(href='#') Design
                li.cat-item
                  a(href='#') Photo
                li.cat-item
                  a(href='#') Art
                li.cat-item
                  a(href='#') Game
                li.cat-item
                  a(href='#') Film
                li.cat-item
                  a(href='#') TV
        //
           ENDS widgets 
        //
           bottom 
        .footer-bottom
          .left
            | by
            a(href='http://luiszuno.com') luiszuno.com
          ul#social-bar.cf.sb
            li
              a.facebook(href='http://www.facebook.com', title='Become a fan') Facebbok
            li
              a.twitter(href='http://www.twitter.com', title='Follow my tweets')
            li
              a.plus(href='http://plus.google.com', title='Enter my circles')
        //
           ENDS bottom 
    //
       ENDS FOOTER 
