!!! 5
html.no-js
head
  meta(charset='utf-8')
    title El refugio M&eacute;xico
    //if lt IE 9
      script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
    link(rel='stylesheet', media='all', href='css/style.css')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    //
       Adding "maximum-scale=1" fixes the Mobile Safari auto-zoom bug: http://filamentgroup.com/examples/iosScaleBug/ 
    //
       JS 
    script(src='js/jquery-1.7.1.min.js')
    script(src='js/custom.js')
    script(src='js/tabs.js')
    script(src='js/css3-mediaqueries.js')
    script(src='js/jquery.columnizer.min.js')
    //
       Isotope 
    script(src='js/jquery.isotope.min.js')
    //
       Lof slider 
    script(src='js/jquery.easing.js')
    script(src='js/lof-slider.js')
    link(rel='stylesheet', href='css/lof-slider.css', media='all')
    //
       ENDS slider 
    //
       Tweet 
    link(rel='stylesheet', href='css/jquery.tweet.css', media='all')
    script(src='js/tweet/jquery.tweet.js')
    //
       ENDS Tweet 
    //
       superfish 
    link(rel='stylesheet', media='screen', href='css/superfish.css')
    script(src='js/superfish-1.4.8/js/hoverIntent.js')
    script(src='js/superfish-1.4.8/js/superfish.js')
    script(src='js/superfish-1.4.8/js/supersubs.js')
    //
       ENDS superfish 
    //
       prettyPhoto 
    script(src='js/prettyPhoto/js/jquery.prettyPhoto.js')
    link(rel='stylesheet', href='js/prettyPhoto/css/prettyPhoto.css', media='screen')
    //
       ENDS prettyPhoto 
    //
       poshytip 
    link(rel='stylesheet', href='js/poshytip-1.1/src/tip-twitter/tip-twitter.css')
    link(rel='stylesheet', href='js/poshytip-1.1/src/tip-yellowsimple/tip-yellowsimple.css')
    script(src='js/poshytip-1.1/src/jquery.poshytip.min.js')
    //
       ENDS poshytip 
    //
       JCarousel 
    script(type='text/javascript', src='js/jquery.jcarousel.min.js')
    link(rel='stylesheet', media='screen', href='css/carousel.css')
    //
       ENDS JCarousel 
    //
       GOOGLE FONTS 
    link(href='http://fonts.googleapis.com/css?family=Voltaire', rel='stylesheet', type='text/css')
    //
       modernizr 
    script(src='js/modernizr.js')
    //
       SKIN 
    link(rel='stylesheet', media='all', href='css/skin.css')
    //
       Less framework 
    link(rel='stylesheet', media='all', href='css/lessframework.css')
    //
       flexslider 
    link(rel='stylesheet', href='css/flexslider.css')
    script(src='js/jquery.flexslider.js')
  body.home
    //
       HEADER 
    header
      .wrapper.cf
        #logo
          a(href='index.html')
            img(src='img/logo.png', alt='Simpler')
        //
           nav 
        ul#nav.sf-menu
          li.current-menu-item
            a(href='index.html') HOME
          li
            a(href='blog.html') BLOG
          li
            a(href='page.html') ABOUT
            ul
              li
                a(href='page-elements.html') Elements
              li
                a(href='page-icons.html') Icons
              li
                a(href='page-typography.html') Typography
          li
            a(href='portfolio.html') WORK
          li
            a(href='contact.html') CONTACT
        #combo-holder
        //
           ends nav 
        //
           SLIDER 
        #home-slider.lof-slidecontent
          .preload
            div
          //
             slider content 
          .main-slider-content
            ul.sliders-wrap-inner
              li
                img(src='img/dummies/slides/01.jpg', title='', alt='alt')
                .slider-description
                  h4 Lorem ipsum dolor
                  p
                    | Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est...
                    a.link(href='#') Read more 
              li
                img(src='img/dummies/slides/02.jpg', title='', alt='alt')
                .slider-description
                  h4 Lorem ipsum dolor
                  p
                    | Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est...
                    a.link(href='#') Read more 
              li
                img(src='img/dummies/slides/03.jpg', title='', alt='alt')
                .slider-description
                  h4 Lorem ipsum dolor
                  p
                    | Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est...
                    a.link(href='#') Read more 
              li
                img(src='img/dummies/slides/04.jpg', title='', alt='alt')
                .slider-description
                  h4 Lorem ipsum dolor
                  p
                    | Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est...
                    a.link(href='#') Read more 
              li
                img(src='img/dummies/slides/05.jpg', title='', alt='alt')
                .slider-description
                  h4 Lorem ipsum dolor
                  p
                    | Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est...
                    a.link(href='#') Read more 
              li
                img(src='img/dummies/slides/06.jpg', title='', alt='alt')
                .slider-description
                  h4 Lorem ipsum dolor
                  p
                    | Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est...
                    a.link(href='#') Read more 
              li
                img(src='img/dummies/slides/07.jpg', title='', alt='alt')
                .slider-description
                  h4 Lorem ipsum dolor
                  p
                    | Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est...
                    a.link(href='#') Read more 
          //
             ENDS slider content 
          //
             slider nav 
          .navigator-content
            .navigator-wrapper
              ul.navigator-wrap-inner
                li
                  img(src='img/dummies/slides/01_thumb.jpg', alt='alt')
                li
                  img(src='img/dummies/slides/02_thumb.jpg', alt='alt')
                li
                  img(src='img/dummies/slides/03_thumb.jpg', alt='alt')
                li
                  img(src='img/dummies/slides/04_thumb.jpg', alt='alt')
                li
                  img(src='img/dummies/slides/05_thumb.jpg', alt='alt')
                li
                  img(src='img/dummies/slides/06_thumb.jpg', alt='alt')
                li
                  img(src='img/dummies/slides/07_thumb.jpg', alt='alt')
            .button-next Next
            .button-previous Previous
            //
               REMOVED TILL FIXED <div class="button-control"><span>STOP</span></div> 
          //
             slider nav 
        //
           ENDS SLIDER 
    //
       ENDS HEADER 
    //
       MAIN 
    #main
      .wrapper.cf
        //
           featured 
        .home-featured
          ul#filter-buttons
            li
              a.selected(href='#', data-filter='*') show all
            li
              a(href='#', data-filter='.web') web
            li
              a(href='#', data-filter='.print') print
            li
              a(href='#', data-filter='.design') design
            li
              a(href='#', data-filter='.photo') photo
          //
             Filter container 
          #filter-container.cf
            figure.web
              a.thumb(href='project.html')
                img(src='img/dummies/featured/01.jpg', alt='alt')
              figcaption
                a(href='project.html')
                  h3.heading Pellentesque 
                | Tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est.
            figure.print
              a.thumb(href='project.html')
                img(src='img/dummies/featured/02.jpg', alt='alt')
              figcaption
                a(href='project.html')
                  h3.heading Pellentesque habitant morbi
                | Tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est.
            figure.design
              a.thumb(href='project.html')
                img(src='img/dummies/featured/03.jpg', alt='alt')
              figcaption
                a(href='project.html')
                  h3.heading Habitant morbi
                | Tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est.
            figure.photo
              a.thumb(href='project.html')
                img(src='img/dummies/featured/04.jpg', alt='alt')
              figcaption
                a(href='project.html')
                  h3.heading Pellentesque habitant morbi
                | Tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est.
            figure.web.photo
              a.thumb(href='project.html')
                img(src='img/dummies/featured/05.jpg', alt='alt')
              figcaption
                a(href='project.html')
                  h3.heading Pellentesque habitant morbi
                | Tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est.
            figure.web.print
              a.thumb(href='project.html')
                img(src='img/dummies/featured/06.jpg', alt='alt')
              figcaption
                a(href='project.html')
                  h3.heading Pellentesque habitant morbi
                | Tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est.
            figure.photo
              a.thumb(href='project.html')
                img(src='img/dummies/featured/04.jpg', alt='alt')
              figcaption
                a(href='project.html')
                  h3.heading Pellentesque habitant morbi
                | Tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est.
            figure.web.photo
              a.thumb(href='project.html')
                img(src='img/dummies/featured/05.jpg', alt='alt')
              figcaption
                a(href='project.html')
                  h3.heading Pellentesque habitant morbi
                | Tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est.
            figure.web.print
              a.thumb(href='project.html')
                img(src='img/dummies/featured/01.jpg', alt='alt')
              figcaption
                a(href='project.html')
                  h3.heading Pellentesque habitant morbi
                | Tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est.
          //
             ENDS Filter container 
        //
           ENDS featured 
      //
         ENDS WRAPPER 
    //
       ENDS MAIN 
    //
       FOOTER 
    footer
      .wrapper.cf
        //
           widgets 
        ul.widget-cols.cf
          li.first-col
            .widget-block
              h4 RECENT POSTS
              .recent-post.cf
                a.thumb(href='#')
                  img(src='img/dummies/54x54.gif', alt='Post')
                .post-head
                  a(href='#') Pellentesque habitant morbi senectus
                  span  March 12, 2011
              .recent-post.cf
                a.thumb(href='#')
                  img(src='img/dummies/54x54.gif', alt='Post')
                .post-head
                  a(href='#') Pellentesque habitant morbi senectus
                  span  March 12, 2011
              .recent-post.cf
                a.thumb(href='#')
                  img(src='img/dummies/54x54.gif', alt='Post')
                .post-head
                  a(href='#') Pellentesque habitant morbi senectus
                  span  March 12, 2011
          li.second-col
            .widget-block
              h4 ABOUT
              p
                | Folder it's completely free this means you don't have to pay anything
                a(href='http://luiszuno.com/blog/license', tar='tar') read license
                | .
              p
                | Visit
                a(href='http://templatecreme.com/') Template Creme
                | and find the most beautiful free templates up to date.
          li.third-col
            .widget-block
              #tweets.footer-col.tweet
                h4 TWITTER WIDGET
          li.fourth-col
            .widget-block
              h4 CATEGORIES
              ul
                li.cat-item
                  a(href='#') Design
                li.cat-item
                  a(href='#') Photo
                li.cat-item
                  a(href='#') Art
                li.cat-item
                  a(href='#') Game
                li.cat-item
                  a(href='#') Film
                li.cat-item
                  a(href='#') TV
        //
           ENDS widgets 
        //
           bottom 
        .footer-bottom
          .left
            | by
            a(href='http://luiszuno.com') luiszuno.com
          ul#social-bar.cf.sb
            li
              a.facebook(href='http://www.facebook.com', title='Become a fan') Facebbok
            li
              a.twitter(href='http://www.twitter.com', title='Follow my tweets')
            li
              a.plus(href='http://plus.google.com', title='Enter my circles')
        //
           ENDS bottom 
    //
       ENDS FOOTER 
